
{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
     <div class="container">
        <div class="row">

              {% for item in item_list %}
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="{{ item.photo.url }}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                          <p class="card-text">{{ item.amount|intcomma }}원</p>
                        <a href="{% url 'shopping:order_new' item.pk %}" class="btn btn-primary">구매하기</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>

    </div>

{% endblock %}