{%  extends 'blog/layout.html' %}
{% block title %}Post list{% endblock %}

{% block content %}
    <h2>Hello Django!</h2>

    <form action="." method="get">
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="검색">
    </form>
    {%  for post in post_list %}
        <li>
            {{ post.id }}
            <a href="/blog/{{ post.id }}/">{{ post.title }}</a>
            <small>{{ post.author }}</small>
            <small>{{ post.created_at }}</small>
        </li>
    {% endfor %}
{% endblock %}