{% extends "blog/layout.html" %}
{% load imagekit %} {# 이미지 썸네일 처리를 위한 imagekit 태그 로드 #}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ post.title }}</h2>

                {% if post.photo %}
                    <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                    {# thumbnail Template Tag 활용 #}

                    {% thumbnail "100x100" post.photo  %}

                    {% thumbnail "100x100" post.photo  as thumb %} {# thumb 라는 변수에 넣음 #}
                    <img src="{{ thumb.url }}" widtht="{{ thumb.width }}" height="{{ thumb.height }}" alt="">

                     {% thumbnail "100x100" post.photo -- style="" onclick="" %}
                {% endif %}
                {{ post.content|linebreaks }}

                <hr/>

                <h3>Comments</h3>

                <ul>
                {% for comment in post.comment_set.all %}
                    <li>
                        {{ comment.message }}
                        <small>by {{ comment.author }}</small>
                        <small>at {{ comment.updated_at }}</small>kk
                    </li>
                {% endfor %}
                </ul>

                <hr/>
                <a href="{% url "blog:post_list" %}" class="btn btn-primary">글 목록</a>
            <a href="{% url "blog:post_edit" post.id %}" class="btn btn-default">글 수정</a>
            </div>
        </div>
    </div>
{% endblock %}